@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.dark-theme {
    --text-black: #ffdfdb;
    --bg-black: linear-gradient(to right, #525455, #0a3040);
    --bg-white: linear-gradient(to right, #D1D5D6, #A3C1CD);
    --border-black: #181a1a;
}
.light-theme {
    --text-black: #2b2b2b;
    --bg-black: linear-gradient(to right, #D1D5D6, #A3C1CD);
    --bg-white: linear-gradient(to right, #ffffff, #e9eef0);
    --border-black: #b0b5b8;
}
.light-theme .themes div,
.light-theme .add-tasks input,
.light-theme #task-list li {
    background-color: #ffffff;
}
.light-theme .add-tasks button,
.light-theme #task-list li div {
    background-color: #e1e6e8;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}
body {
    height: 100vh;
    background: var(--bg-black);
    color: var(--text-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.marked {
    text-decoration: line-through;
    opacity: 0.5;
}
/* Área dos temas */
.themes {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 20px;
    padding: 50px;
}
.themes div {
    background-color: var(--text-black);
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid var(--border-black);
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}
.themes div:hover {
    opacity: 0.5;
    border: 2px solid #fff;;
}
.themes div img {
    height: 30px;
}
/* Lista de tarefas */
/* Header */
.container {
    text-align: center;
}
.container header {
    margin-bottom: 50px;
}
.container header h1 {
    font-size: 70px;
    font-weight: 400;
    text-shadow: 0 0 2px var(--border-black);
}
.container header h1 span {
    color: var(--border-black);
    font-weight: 200;
}
/* Entrada de tarefa */
.add-tasks {
    position: relative;
    width: 800px;
    margin-bottom: 80px;
}
.add-tasks input {
    width: 100%;
    height: 100%;
    background-color: var(--border-black);
    color: var(--text-black);
    outline: none;
    border: none;
    border-radius: 40px;
    padding: 12px 20px;
    padding-right: 140px;
    box-shadow: 0px 0px 5px var(--border-black);
    font-size: 18px;
    transition: .5s;
}
.add-tasks input:focus {
    box-shadow: 0px 0px 10px var(--text-black);
}
.add-tasks button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    background-color: var(--text-black);
    font-size: 18px;
    border: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 12px 20px;
    margin-right: -20px;
    cursor: pointer;
    transition: .5s;
}
.add-tasks button:hover {
    background-color: var(--bg-white);
    color: var(--text-black);
}
/* Lista de tarefas */
#task-list h2 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px;
}
#task-list p {
    position: relative;
    display: inline;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
}
#task-list #clean-tasks::after {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 0%;
    height: 2px;
    content: " ";
    background-color: var(--text-black);
    transition: .5s ease-in-out;
}
#task-list #clean-tasks:hover::after {
    width: 100%;
}
#task-list li {
    width: 450px;
    display: flex;
    align-items: center;
    background-color: var(--border-black);
    padding: 15px 20px;
    border-radius: 40px;
    margin: auto;
    margin-top: 20px;
    transition: .3s;
}
#task-list li:hover {
    transform: scale(1.1);
}
#task-list li span {
    flex: 1;
    font-size: 18px;
    text-align: left;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}
#task-list li div {
    display: flex;
    align-items: center;
    background-color: var(--text-black);
    cursor: pointer;
    padding: 10px;
    margin-left: 15px;
    border-radius: 50%;
    transition: .2s;
}
#task-list li div:hover {
    opacity: 0.8;
}
#task-list li div img {
    height: 20px;
}
/* Responsividade */
/* Tablets */
@media (max-width: 820px) {
    .container header h1 {
        font-size: 50px;
    }
    .add-tasks {
        width: 600px;
    }
}
/* Celulares maiores */
@media (max-width: 600px) {
    .themes {
        padding: 30px;
    }
    .container header h1 {
        font-size: 40px;
    }
    .add-tasks {
        width: 400px;
    }
    #task-list h2 {
        font-size: 18px;
    }
    #task-list p,
    #task-list li span,
    .add-tasks button,
    .add-tasks input {
        font-size: 15px;
    }
    #task-list li {
        width: 350px;
    }
}
/* Celulares pequenos  e minuscúlos (provavelmente essas resoluções não existem nos dias de hoje)*/
@media (max-width: 400px) {
    .add-tasks {
        width: 350px;
    }
}
@media (max-width: 350px) {
    .themes {
        padding: 20px;
    }
    .container header h1 {
        font-size: 30px;
    }
    .add-tasks {
        width: 300px;
    }
    #task-list h2 {
        font-size: 15px;
    }
    #task-list p,
    #task-list li span,
    .add-tasks button,
    .add-tasks input {
        font-size: 13px;
    }
    #task-list li {
        width: 280px;
    }
}